.home_main{
    /* background: rgb(230, 226, 226); */
      /* background: grey; */
    height: 100%;
    background-color: rgba(128, 128, 128, 0.103)
    
}
.home_categories{
    display: flex;
    margin-top: 0px;
    margin-bottom: 10px;
    background: white;
    justify-content: center;
    align-items: baseline;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    /* border-radius: 10px; */
   
    
}
.categories_item{
 
 width: 150px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: end;
 text-align: center;
 cursor: pointer;
 
 
}

.categories_item img{
height: 100px;
width: 100px;
}