
.main-category{
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:15px;
    margin-right: 15px;
}

.category-products{
    display: flex;
}
.category-products img{
    height: 200px;
    width: 200px;
}

.category-productsItem{
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.category-button{
    display: flex;
    justify-content: space-between;
}

.category-button button{
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 8px;
    font-weight: bold;
    background: none;
    border: none;
    
   
}

.category-button h4{
    margin-left: 20px;
    font-size: 24px;
}

.category-button button:hover{
    color: #1a5dcc;
    text-decoration: underline;
    
}